<div class="row">
  <div class="col-md-12">
    <h1 class="fs-2tx fw-bolder mb-8">Sistema de Votação de Delegados.
      <span class="d-inline-block position-relative ms-2">
        <span class="d-inline-block mb-2">by. Francisco Ferreira</span>
        <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-primary translate rounded"></span>
      </span></h1>
  </div>
</div>
<div class="fw-bold fs-2 text-gray-500 mb-10">Projeto Aplicado -
  <span class="fw-bolder text-gray-900">Licenciatura em Engenharia em Sistemas Informáticos - </span>14061</div>

